# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & Static (optional)
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional - agar ignore karna ho)
**/migrations/*
!**/migrations/__init__.py

# pytest
.pytest_cache/

# coverage
htmlcov/
.coverage
coverage.xml

# mypy
.mypy_cache/

# logs
*.log