{% extends "product/base.html" %}

{% block content %}

<div class="p-10 max-w-4xl mx-auto">
    <h1 class="text-2xl font-bold mb-5">📦 My Orders</h1>

    {% for order in orders %}
    <div class="bg-white shadow p-5 mb-4 rounded">

        <h2 class="font-bold text-lg">{{ order.product.name }}</h2>

        <p>Amount: ₹ {{ order.amount }}</p>

        <p>Status: 
            {% if order.is_paid %}
                <span class="text-green-600 font-bold">Paid ✅</span>
            {% else %}
                <span class="text-red-600 font-bold">Pending ❌</span>
            {% endif %}
        </p>

        <p class="text-sm text-gray-500">
            Order ID: {{ order.razorpay_order_id }}
        </p>

    </div>
    {% empty %}
    <p>No orders yet 😢</p>
    {% endfor %}

</div>

{% endblock %}